
.name h2{
    background: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    padding: 20px;
    width: 20%;
    text-align: center;
    margin-left: 29%;
}
.header {

}

body { 
    
    background-image: background: radial-gradient(circle, black, white);
    
}
.copyright {
    background: #666666;
    text-align: center;
    padding: 1px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: .25em;
    position: sticky;

}
#links ul
{
    margin: 20px;
    padding: 10px;
    margin-bottom: -48px;
    list-style-type: none;
}

#links  li
{   float: right;
    padding: 7px;
    display: inline;
}

#links li:not(:first-child):before {
    content: " | ";
}
.rect {
    float: left;
    width: 482px;
    height: 30px;
    border: black solid thin;
    position: relative;
}
.rect2 {
    float: left;
    width: 482px;
    height: 150px;
    border: black solid thin;
}
#submit {
    color: white;
    background-color: #4aaaa5;
    width: 130px;
    height: 30px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
   
}

h4 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-top: 6px;
    margin-bottom: 2px;
}
h2 {
    
    color: #4aaaa5;
    
}
.infobox {
    background: #ffffff;
}
.email {
    
}
.main {
    width: 500Px;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff

}
#row {
    display: flex;
    flex-wrap: wrap;
}
.row .contact {
    padding-left: 7px;
    padding-right: 7px;
}

.column {
    float: left;
    width: 50%;
    

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

}
 h3 { 
     
    top: 200px; 
    left: 0; 
    width: 100%; 
    color: #4aaaa5;

 }
 .hangman {
    position: relative;
    background: #4aaaa5;
    padding: 8px;
    text-align: center;
    width: 136px;
    font-size: small;
    bottom: 66px;
    color: #ffffff;
 }
 .RPG {
    position: relative;
    background: #4aaaa5;
    width: 136px;
    text-align: center;
    padding: 8px;
    font-size: small;
    bottom: 64px;
    right: 0px;
    color: #ffffff;
   
 }
 .trivia {
    background: #4aaaa5;
    text-align: center;
    padding: 8px;
    font-size: small;
    width: 134px;
    position: relative;
    bottom: -144px;
    color: #ffffff;
    
 }
 .rutgers {
     background: #4aaaa5;
     text-align: center;
    padding: 8px;
    font-size: small;
    position: relative;
    bottom: 65px;
    color: #ffffff;
    width: 134px;
 }
 .rock {
    background: #4aaaa5;
    text-align: center;
    padding: 8px;
    font-size: small;
    position: relative;
    bottom: 277px;
    width: 134px;
    right: 0px;
    color: #ffffff;
 }
 .bottomborder{
   border-color: #4aaaa5;
    text: solid 3px;
}
.header {
    background: #ffffff;
}
nav ul {

    margin: 0;

    padding: 0

}

 

nav li {

    list-style: none;

    font-size: 12px;

    float: right;

    text-align: center;

}

 

nav li a {

    display: block;

    text-decoration: none;

    margin-right: 0;   /* space between links */

    width: auto;   /* adjust width as needed or use auto */

    padding: 6px;

    font-weight: bold;

    line-height: 2em;

    color:#1e5799;

    border-right: 1px solid #000;

}

/**remove from last item**/

nav li:first-child a {

    border:none;

}

 

/**float clearing**/

nav:after {

     content: '';

     clear:right;

     display:block;

}


.background {
  background-image: url("/Users/test/Desktop/Basic-Portfolio/assets/images/gravel.png");
  background-position: 50% 50%;
  background-repeat: repeat;
}

@media screen and (max-width: 768px) {
.background {
    
    background-color: #4aaaa5;
}
}